<section class="page-section bg-white" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Hover over the planet and learn about Design Thinking</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">This course was co-designed by teachers, for teachers.</p>
      </div>
      <div class="col-lg-12 text-center">
        <!-- svg of the cocreation planet-->
        <div id="svgdiv">
          {% if curLang == "nl" %}
          <object id="svgobject" data="{{ site.url }}{{ site.baseurl }}/assets/img/planet/planet-v03_nl.svg"></object>
          {% else %}
          <object id="svgobject" data="{{ site.url }}{{ site.baseurl }}/assets/img/planet/planet-v03.svg"></object>
          {% endif %}  
        </div>
        <!--img src="assets/img/planet/planet-v03.svg" alt="planet" usemap="#workmap" width="1000"-->
        <script>
          var mySvgObject = document.getElementById("svgobject"); 
          mySvgObject.addEventListener("load", () => {
            // the planet layer
            let mySvg = mySvgObject.getSVGDocument();
            //console.log(mySvg);
            let layerplanet = mySvg.getElementById("layerplanet");
            {% for continent in site.data.svgelements.continents_regions %}  
              // continent
              let {{ continent.svglabel }} = mySvg.getElementById("{{ continent.svglabel }}");
              // only the path that is continent
              let {{ continent.svglabel }}_base = mySvg.getElementById("{{ continent.svglabel }}_base");
              // the continent tooltip
              let {{ continent.svglabel }}_tooltip = mySvg.getElementById("{{ continent.svglabel }}_tooltip");
              // the continent layer
              let {{ continent.layeronclick }} = mySvg.getElementById("{{ continent.layeronclick }}");
              // the back to planet text on each layer
              let back{{ continent.svglabel }} = mySvg.getElementById("back{{ continent.svglabel }}");
              let backlayer{{ continent.svglabel }} = mySvg.getElementById("{{ continent.backlayer }}");

              // hide all elements to hide at start 
              {{ continent.svglabel }}_tooltip.style.display = "none";
              // add event listener for click on continent
              {{ continent.svglabel }}.addEventListener("click", () => {
                backlayer{{ continent.svglabel }}.style.display = "none";
                {{ continent.layeronclick }}.style.display = "inline";
                 //window.open("http://google.be", "_blank");

              });

              // Add event listener for mouseover event on continents
              {{ continent.svglabel }}.addEventListener("mouseover", () => {
                {{ continent.svglabel }}_base.style.filter = "brightness(75%)";
                {{ continent.svglabel }}_base.style.cursor = "pointer";
                {{ continent.svglabel }}_tooltip.style.display = "inline";
              });

              // Add event listener for mouseout event on continents
              {{ continent.svglabel }}.addEventListener("mouseout", () => {
                // Change the fill color to highlight the SVG element
                {{ continent.svglabel }}_base.style.filter = "brightness(100%)";
                {{ continent.svglabel }}_tooltip.style.display = "none";
              });
                   
              // Add event listener for mouseover event on back button planet
               back{{ continent.svglabel }}.addEventListener("mouseover", () => {
                // Change the pointer
                 back{{ continent.svglabel }}.style.cursor = "pointer";
              });
              // Add event listener for click event on back button planet/region
              back{{ continent.svglabel }}.addEventListener("click", () => {
                backlayer{{ continent.svglabel }}.style.display = "inline";
                {{ continent.layeronclick }}.style.display = "none";

              });
            {% endfor %}
                   
            // for loop for country clicks that switch between layer to different country
            {% for country in site.data.svgelements.country_mouseover %}  
              // continent
              let {{ country.svglabel }} = mySvg.getElementById("{{ country.svglabel }}");
              let {{ country.svglabel }}_base = mySvg.getElementById("{{ country.svglabel }}_base");
              // Add event listener for mouseover event on country
              {{ country.svglabel }}.addEventListener("mouseover", () => {
                {{ country.svglabel }}.style.filter = "brightness(75%)";
                {{ country.svglabel }}.style.fill = "#f1f1f1";
                {{ country.svglabel }}.style.cursor = "pointer";
              });

              // Add event listener for mouseout event on country
              {{ country.svglabel }}.addEventListener("mouseout", () => {
                // Change the fill color to highlight the SVG element
                {{ country.svglabel }}.style.filter = "brightness(100%)";
                {{ country.svglabel }}.style.fill = "#ffffff";
              });
              // add event listener for click on country
              {{ country.svglabel }}_base.addEventListener("click", () => {
                {{ country.movefromlayer }}.style.display = "none";
                {{ country.movetolayer }}.style.display = "inline";
                 //window.open("http://google.be", "_blank");

              });
            {% endfor %}
          });
           
        </script>
      </div>
    </div>
  </div>
</section>
