<section class="page-section bg-white" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Hover over the planet and learn about Design Thinking</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">This course was co-designed by teachers, for teachers.</p>
      </div>
      <div class="col-lg-12 text-center">
        <!-- svg of the cocreation planet-->
        <div id="svgdiv" style="min-width: 800px">
          {% if curLang == "nl" %}
          <object width="100%" onload="svgLoadAnimations()" id="svgobject" data="{{ site.url }}{{ site.baseurl }}/assets/img/planet/planet-v03_nl.svg"></object>
          {% else %}
          <object width="100%" onload="svgLoadAnimations()"  id="svgobject" data="{{ site.url }}{{ site.baseurl }}/assets/img/planet/planet-v03.svg"></object>
          {% endif %}  
        </div>
        <!-- div for tooltips -->
        
        <!--img src="assets/img/planet/planet-v03.svg" alt="planet" usemap="#workmap" width="1000"-->
        <script>
          // javascript functions
          function divideTextIntoChunks(text) {
            const words = text.split(/\s+/); // Split the text into words
            const chunks = [];

            for (let i = 0; i < words.length; i += 4) {
              // Take 4 words at a time and join them into a chunk
              const chunk = words.slice(i, i + 4).join(' ');
              chunks.push(chunk);
            }

            return chunks;
          }
          
          function svgLoadAnimations() {
            // the planet layer
            var mySvg = null;
            mySvg = document.getElementById("svgobject").contentWindow.document;
            //mySvg = document.getElementById("svgobject").getSVGDocument();
            if (mySvg === null) {
              alert("Could not load SVG animations. Cross site loading? Check url.", document.getElementById("svgobject"), )
              console.log(document.getElementById("svgobject"))
              console.log(document.URL)
            }
            let layerplanet = mySvg.getElementById("layerplanet");
            {% for continent in site.data.svgelements.continents_regions %}  
              // continent
              let {{ continent.svglabel }} = mySvg.getElementById("{{ continent.svglabel }}");
              // only the path that is continent
              let {{ continent.svglabel }}_base = mySvg.getElementById("{{ continent.svglabel }}_base");
              // the continent tooltip
              let {{ continent.svglabel }}_tooltip = mySvg.getElementById("{{ continent.svglabel }}_tooltip");
              // the continent layer
              let {{ continent.layeronclick }} = mySvg.getElementById("{{ continent.layeronclick }}");
              // the back to planet text on each layer
              let back{{ continent.svglabel }} = mySvg.getElementById("back{{ continent.svglabel }}");
              let backlayer{{ continent.svglabel }} = mySvg.getElementById("{{ continent.backlayer }}");

              // hide all elements to hide at start 
              {{ continent.svglabel }}_tooltip.style.display = "none";
              // add event listener for click on continent
              {{ continent.svglabel }}.addEventListener("click", () => {
                backlayer{{ continent.svglabel }}.style.display = "none";
                {{ continent.layeronclick }}.style.display = "inline";
                 //window.open("http://google.be", "_blank");

              });

              // Add event listener for mouseover event on continents
              {{ continent.svglabel }}.addEventListener("mouseover", () => {
                {{ continent.svglabel }}_base.style.filter = "brightness(75%)";
                {{ continent.svglabel }}_base.style.cursor = "pointer";
                {{ continent.svglabel }}_tooltip.style.display = "inline";
              });

              // Add event listener for mouseout event on continents
              {{ continent.svglabel }}.addEventListener("mouseout", () => {
                // Change the fill color to highlight the SVG element
                {{ continent.svglabel }}_base.style.filter = "brightness(100%)";
                {{ continent.svglabel }}_tooltip.style.display = "none";
              });
                   
              // Add event listener for mouseover event on back button planet
               back{{ continent.svglabel }}.addEventListener("mouseover", () => {
                // Change the pointer
                 back{{ continent.svglabel }}.style.cursor = "pointer";
              });
              // Add event listener for click event on back button planet/region
              back{{ continent.svglabel }}.addEventListener("click", () => {
                backlayer{{ continent.svglabel }}.style.display = "inline";
                {{ continent.layeronclick }}.style.display = "none";

              });
            {% endfor %}
                   
            // for loop for country clicks that switch between layer to different country
            {% for country in site.data.svgelements.country_mouseover %}  
              // country
              let {{ country.svglabel }} = mySvg.getElementById("{{ country.svglabel }}");
              let {{ country.svglabel }}_base = mySvg.getElementById("{{ country.svglabel }}_base");
              // Add event listener for mouseover event on country
              {{ country.svglabel }}.addEventListener("mouseover", () => {
                {{ country.svglabel }}.style.filter = "brightness(75%)";
                {{ country.svglabel }}.style.fill = "#f1f1f1";
                {{ country.svglabel }}.style.cursor = "pointer";
              });

              // Add event listener for mouseout event on country
              {{ country.svglabel }}.addEventListener("mouseout", () => {
                // Change the fill color to highlight the SVG element
                {{ country.svglabel }}.style.filter = "brightness(100%)";
                {{ country.svglabel }}.style.fill = "#ffffff";
              });
              // add event listener for click on country
              {{ country.svglabel }}_base.addEventListener("click", () => {
                {{ country.movefromlayer }}.style.display = "none";
                {{ country.movetolayer }}.style.display = "inline";
                 //window.open("http://google.be", "_blank");

              });
            {% endfor %}
                   
            // for loop for navbar clicks that switch between layer to different country
            {% for country in site.data.svgelements.navbar_mouseover %}  
              // navbar item
              let {{ country.svglabel }} = mySvg.getElementById("{{ country.svglabel }}");
              //let {{ country.svglabel }}_base = mySvg.getElementById("{{ country.svglabel }}_base");
              // Add event listener for mouseover event on navbar
              {{ country.svglabel }}.addEventListener("mouseover", () => {
                {{ country.svglabel }}.style.filter = "brightness(75%)";
                {{ country.svglabel }}.style.fill = "#f1f1f1";
                {{ country.svglabel }}.style.cursor = "pointer";
              });

              // Add event listener for mouseout event on navbar
              {{ country.svglabel }}.addEventListener("mouseout", () => {
                // Change the fill color to highlight the SVG element
                {{ country.svglabel }}.style.filter = "brightness(100%)";
                {{ country.svglabel }}.style.fill = "#ffffff";
              });
              // add event listener for click on navbar
              {{ country.svglabel }}.addEventListener("click", () => {
                {{ country.movefromlayer }}.style.display = "none";
                {{ country.movetolayer }}.style.display = "inline";
                 //window.open("http://google.be", "_blank");

              });
            {% endfor %}
                   
            //console.log(c1c1txt.firstChild.firstChild);
            // for loop to show the standard links
            {% for link in site.data.courselinks.cocreationlinks %}  
              {% if site.data.possiblecourselinks.poscocreationlinks contains link.svglabel %}
              let {{ link.svglabel }} = mySvg.getElementById("{{ link.svglabel }}");

              //set c1c1txt and textc1c1link and textc1c1url automatically for use.
              var {{ link.svglabel | slice: 0, 4 }}txt = mySvg.getElementById("text{{ link.svglabel | slice: 0, 4 }}link");
              var {{ link.svglabel | slice: 0, 4 }}url = mySvg.getElementById("text{{ link.svglabel | slice: 0, 4 }}url");
                   
              try {
                {% if link.active == "yes" %}

                  // Add click to open resource link
                  {{ link.svglabel }}.addEventListener("click", event => {
                    event.stopPropagation();
                    // open the link in new tab
                    window.open("{{ link.main_link }}", "_blank");
                  });
                  // Add middleclick to open resource link
                  {{ link.svglabel }}.addEventListener("auxclick", event => {
                    if (event.button == 1 || event.button == 2) {
                      event.stopPropagation();
                      // open the link in new tab
                      window.open("{{ link.main_link }}", "_blank");
                    }
                  });

                  // Add mouseover effect on link
                  {{ link.svglabel }}.addEventListener("mouseover", event => {
                    // first 4 characters of svg label link to the text field to use for info
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].textContent = ""
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].append("{{ link.title }} ");
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].style = "font-weight:bold;font-size:16px;"
                    console.log({{ link.svglabel | slice: 0, 4 }}url)
                    {{ link.svglabel | slice: 0, 4 }}url.setAttribute("xlink:href", "{{ link.main_link }}")
                    // put rest of the text in.
                    var chunks = divideTextIntoChunks("{{link.text }}");
                    var lench = chunks.length;
                    if (lench > 14) lench = 14;
                    for (var j=0; j < lench; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].append(chunks[j]);
                    }
                    for (var j=lench; j < 15; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                    }

                    //c1c1txt.children[1].children[0].textContent = ""
                    //c1c1txt.children[1].children[0].append("{{link.text }} ");
                    //textc1.textContent = "{{ link.title }}";
                    //console.log(c1c1txt);
                    {{ link.svglabel }}.style.filter = "brightness(75%)";
                    {{ link.svglabel }}.style.cursor = "pointer";
                  });
                  // corresponsing mouse out event
                  {{ link.svglabel }}.addEventListener("mouseout", event => {
                    // Change the fill color to highlight the SVG element
                    {{ link.svglabel }}.style.filter = "brightness(100%)";
                  }); 
                {% else %}
                  // hide the link, it is not active
                  {{ link.svglabel }}.style.display = "none";
                {% endif %}
              } catch (e) {
              console.log(e);
                  // hide the link, something is not working
                  {{ link.svglabel }}.style.display = "none";
    }

              {% endif %}
            {% endfor %}
            
            // same as above for links to the extendt2 tools
            {% for link in site.data.courselinks.cocreationlinksExtendt2 %}  
              {% if site.data.possiblecourselinks.poscocreationlinksExtendt2 contains link.svglabel %}
              let {{ link.svglabel }} = mySvg.getElementById("{{ link.svglabel }}");

    try {
                {% if link.active == "yes" %}

                  // Add click to open resource link
                  {{ link.svglabel }}.addEventListener("click", event => {
                    event.stopPropagation();
                    // open the link in new tab
                    window.open("{{ link.main_link }}", "_blank");
                  });

                  // Add mouseover effect on link
                  {{ link.svglabel }}.addEventListener("mouseover", event => {
                    // first 4 characters of svg label link to the text field to use for info
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].textContent = ""
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].append("{{ link.title }} ");
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].style = "font-weight:bold;font-size:16px;"
                    console.log({{ link.svglabel | slice: 0, 4 }}url)
                    {{ link.svglabel | slice: 0, 4 }}url.setAttribute("xlink:href", "{{ link.main_link }}")
                    // put rest of the text in.
                    var chunks = divideTextIntoChunks("{{link.text }}");
                    var lench = chunks.length;
                    if (lench > 14) lench = 14;
                    for (var j=0; j < lench; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].append(chunks[j]);
                    }
                    for (var j=lench; j < 15; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                    }

                    //c1c1txt.children[1].children[0].textContent = ""
                    //c1c1txt.children[1].children[0].append("{{link.text }} ");
                    //textc1.textContent = "{{ link.title }}";
                    //console.log(c1c1txt);
                    {{ link.svglabel }}.style.filter = "brightness(75%)";
                    {{ link.svglabel }}.style.cursor = "pointer";
                  });
                  // corresponsing mouse out event
                  {{ link.svglabel }}.addEventListener("mouseout", event => {
                    // Change the fill color to highlight the SVG element
                    {{ link.svglabel }}.style.filter = "brightness(100%)";
                  }); 
                {% else %}
                  // hide the link, it is not active
                  {{ link.svglabel }}.style.display = "none";
                {% endif %}
        } catch (e) {
        console.log(e);
                  // hide the link, something is not working
                  {{ link.svglabel }}.style.display = "none";
    }

              {% endif %}
            {% endfor %}

            // same as above for the links to the examples:
            {% for link in site.data.courselinks.cocreationlinksExamples %}  
              {% if site.data.possiblecourselinks.poscocreationlinksExamples contains link.svglabel %}
              let {{ link.svglabel }} = mySvg.getElementById("{{ link.svglabel }}");

    try {
                {% if link.active == "yes" %}

                  // Add click to open resource link
                  {{ link.svglabel }}.addEventListener("click", event => {
                    event.stopPropagation();
                    // open the link in new tab
                    window.open("{{ link.main_link }}", "_blank");
                  });

                  // Add mouseover effect on link
                  {{ link.svglabel }}.addEventListener("mouseover", event => {
                    // first 4 characters of svg label link to the text field to use for info
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].textContent = ""
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].append("{{ link.title }} ");
                    {{ link.svglabel | slice: 0, 4 }}txt.children[0].children[0].style = "font-weight:bold;font-size:16px;"
                    console.log({{ link.svglabel | slice: 0, 4 }}url)
                    {{ link.svglabel | slice: 0, 4 }}url.setAttribute("xlink:href", "{{ link.main_link }}")
                    // put rest of the text in.
                    var chunks = divideTextIntoChunks("{{link.text }}");
                    var lench = chunks.length;
                    if (lench > 14) lench = 14;
                    for (var j=0; j < lench; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].append(chunks[j]);
                    }
                    for (var j=lench; j < 15; j += 1) {
                      {{ link.svglabel | slice: 0, 4 }}txt.children[j+1].children[0].textContent = "";
                    }

                    //c1c1txt.children[1].children[0].textContent = ""
                    //c1c1txt.children[1].children[0].append("{{link.text }} ");
                    //textc1.textContent = "{{ link.title }}";
                    //console.log(c1c1txt);
                    {{ link.svglabel }}.style.filter = "brightness(75%)";
                    {{ link.svglabel }}.style.cursor = "pointer";
                  });
                  // corresponsing mouse out event
                  {{ link.svglabel }}.addEventListener("mouseout", event => {
                    // Change the fill color to highlight the SVG element
                    {{ link.svglabel }}.style.filter = "brightness(100%)";
                  }); 
                {% else %}
                  // hide the link, it is not active
                  {{ link.svglabel }}.style.display = "none";
                {% endif %}
              } catch (e) {
              console.log(e);
                  // hide the link, something is not working
                  {{ link.svglabel }}.style.display = "none";
              }

              {% endif %}
            {% endfor %}

          } 
               
          // our code to manipulate svg
          //var mySvgObject = document.getElementById("svgobject");
          //mySvgObject.addEventListener("load", svgLoadAnimations());
           
        </script>
      </div>
    </div>
  </div>
</section>
