<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-10 col-sm-5 offset-md-1">
              <h3>{{ site.data.translation.text04[curLang] }}</h3>
              <ol>
                <li>Open University - <a href="https://www.open.edu/openlearn/science-maths-technology/design-innovation/design-thinking/content-section-0?intro=1">{{ site.data.translation.text05[curLang] }}</a></li>
                <li>OpenLearn - Open University - <a href="https://www.open.edu/openlearn/design-thinking-cards">{{ site.data.translation.text06[curLang] }}</a></li>
                <li>OpenLearn - Open University - <a href="https://www.open.edu/openlearncreate/course/index.php?categoryid=1787">{{ site.data.translation.text07[curLang] }}</a> course developed in the ExtenDT2 project.</li>
                <li>Your Turn - TU Delft - <a href="https://studiolab.ide.tudelft.nl/studiolab/codesignwithkids/">{{ site.data.translation.text08[curLang] }}</a>.</li>
              </ol>
            </div>
        </div>
    </div>
</div>
