<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-10 col-sm-5 offset-md-1">
              <h3>Further information</h3>
              <ol>
                <li>Open University <a href="https://www.open.edu/openlearn/science-maths-technology/design-innovation/design-thinking/content-section-0?intro=1">course on Design thinking</a></li>
                <li>OpenLearn - Open University <a href="https://www.open.edu/openlearn/design-thinking-cards">Design thinking cards</a></li>
                <li>OpenLearn - Open University <a href="https://www.open.edu/openlearncreate/course/index.php?categoryid=1787">Teaching design thinking with digital technologies</a> course developed in the ExtenDT2 project.</li>
              </ol>
            </div>
        </div>
    </div>
</div>
